.contact {
    padding: 20px 0;
}

.contact h4 {
    color: var(--sub);
}

.contact h2 {
    color: var(--primary);
}

.contact p {
    color: var(--light);
}

.contact .divider {
    margin: 50px 0;
    background-color: rgb(187, 187, 187);
}

.contact .row {
    justify-content: center;
}

.contact .content {
    display: flex;
    flex-direction: column;
    padding: 20px;


}

.contact .mail {
    display: flex;
    align-items: center;
}

.contact .mail .maillogo {
    font-size: 25px;
    margin: 20px 10px;
    color: var(--secondary);
}

.contact .content h2 {
    margin: 20px 0;
}

.contact input {
    padding: 8px 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
}

.contact .input {
    margin: 10px 0;
}

.contact textarea {
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    max-width: 530px;
}

.contact .inputIcon {
    position: absolute;
    transform: translateY(9px) translateX(5px);
    font-size: 15px;
    color: var(--sub);
}

.contact .nIcon {
    font-size: 15px;
}

.contact .eIcon {
    font-size: 17px;
}

.contact input,
.contact textarea {
    background: rgb(184, 184, 184);
    background: linear-gradient(337deg, rgba(184, 184, 184, 1) 0%, rgba(149, 149, 149, 1) 100%);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4);
    color: var(--dark);
}

@media only screen and (max-width:1530px) {
    .contact .smCon {
        width: 80%;
    }
}

@media only screen and (max-width:1220px) {
    .contact .smCon {
        width: 90%;
    }
}

@media only screen and (max-width:1000px) {
    .contact .smCon {
        width: 98%;
    }
}

@media only screen and (max-width:800px) {
    .contact .smCon {
        width: 85%;
    }

    .contact .row {
        flex-direction: column;
    }
}

@media only screen and (max-width:600px) {
    .contact .smCon {
        width: 95%;
    }

    .contact .row {
        flex-direction: column;
    }
}